# Intro to Python Workshop - Dev Sharma

## Applied Analytics Club October 2019

Python is a programming language.

- Foudner: Guido van Rossum
- Release Year: 1991
- There are two Main Versions: 2 and 3
- Latest Version: ```3.7.4```

Python 3 is the more popular versions and the one we will be using today. 

Python 2 is mostly used when dealing with legacy systems.

## Quick Jupyter Tips

```Hashtag``` is used to comment in Python

In [6]:
# this is a comment
this is not a comment

```SHIFT + ENTER``` to execute a single cell



- ```Command``` mode is active when the cell is blue (click outside the cell to activate)
- ```Edit``` mode is active when the cell is green (click inside OR press ```enter``` on the cell while in command mode)

### Command Mode Shortcuts

- ```M``` to convert a cell to markdown (text)
- ```Y``` to convert a cell back to code 
- ```A``` adds a cell above
- ```B``` adds a cell below
- ```D + D``` deletes the highlighted cell(s)

note: for all of these shortcuts, you must click outside the cell block first, color --> blue

### Edit Mode Shortcuts

- ```SHIFT + TAB``` reveals the docstring of a function
- ```TAB``` Autocomples variable/function
- ```CMD/CTRL + /``` Turn line into comment

In [8]:
# turn the following lines into comments

variable1 = "I love <3 python"
variable2 = "do cool people use python?"

### Printing in Python and Jupyter

There is a slight difference in printing in the jupyter notebook interface and using a print command. If you execute a code cell, it will print the last variable in your cell. You can print other variables in your cell with the print command. 

Note: This is a jupyter feature. Other IDEs (i.e. coding platforms e.g. PyCharm) may behave differently.

In [18]:
variable1
variable2

'do cool people use python?'

In [17]:
# if we wanted to print both we could:
print(variable1)
variable2

I love <3 python

'do cool people use python?'

In [19]:
# or we could print them on the same line with:
print(variable1 ,variable2)

I love <3 python do cool people use python?

In [22]:
# we can add other objects to our output
print(variable1, "INSERTED STRING",variable2)

I love <3 python INSERTED STRING do cool people use python?

## Data Types

- Int e.g. ```2,3,4```
- Float e.g. ```2.0,3.4, 4.3```
- String e.g. ```“scraping ftw!”, ”John Doe”```
- Boolean ```True, False```
- Others (Complex, Unicode etc.)

In [33]:
var_int = 1
var_float = 1.0
var_string = "5"
var_bool = True

### Common Operations

In [24]:
print(1+3)

4

In [27]:
print(var_int-3)

-2

In [28]:
print(var_int*var_float) # result will be a float

1.0

In [30]:
print(var_int/var_float)

1.0

In [82]:
6/4

1.5

In [80]:
6%4 # Modulus operator (returns the (remainder*denominator) of division)

2

In [81]:
6//4 # Floor division (returns the quotient of division)

1

Converting data types

In [34]:
# convert string to int
int(var_string)

5

In [35]:
# convert ints to floats
float(var_int)

1.0

In [37]:
# check the type of the data
type(var_bool)

bool

In [38]:
type(var_string)

str

## Common Data Structures

### Lists: Type of data container which is used to store multiple data at the same time

- Denoted by []
- Mutable (Can be changed)
- Comparable to R’s vector

In [180]:
list1 = [0,1,2,3,4]

In [43]:
# Can contain items of varying data types
list2 = [6,'harry', True, 1.0]

In [ ]:
# A list can be nested in another list
list3 = [1 , [98,109], 6, 7]

In [ ]:
# Call the ”append” function to add an item to a list
list1 = list1.append(5)

#### Indexing

In [44]:
# Indexing starts with 0
list2[0] = 6

In [47]:
# indexing multiple items
list2[0:2] # note: the last index is excluded

[6, 'harry']

In [51]:
# we can also index based on every nth item
list2[0:4:2] # lets extract every other item in the list

[6, True]

In [182]:
# lists can be added
print(list1 + list2)

[0, 1, 2, 3, 4, 6, 'harry', True, 1.0]

### Tuples

- Denoted by ()
- Not mutable (can not be changed)
- Can contain multiple types of data

In [91]:
tuple1 = (1,2,3)

In [95]:
tuple1 = ('a',3)

### Dictionaries

- Collection of key-value pairs
- Very similar to JSON objects
- Mutable

In [4]:
dict1 = {'r':4,'w':9, 't':5}

In [ ]:
# Indexed with keys
dict1['r']

In [ ]:
# Keys are unique. You cannot have multiple values for a single key
dict1['r'] = 5
dict(dict1['r'])

In [ ]:
# Values can be lists or other nested dictionaries
dict2 = {'a':{'c':'candy'}}

In [ ]:
# A dictionary can also be nested into a list
dict3 = [{3:4,5:6}, 6,7]

In [55]:
# You can also index a list with a number
dict3[1]

6

### Sets

- Can only contain unique items
- Cannot be indexed
- Are ordered, either numerically or alphabetically
- Can contain numbers or strings

In [101]:
set1 = set([1,2,3,4])

In [105]:
set2 = set(["z","a","ds"])

In [106]:
set2

{'a', 'ds', 'z'}

## If Else Statements

### Tabs are very important in Python!

In [9]:
a = 4

if a < 2:
    print("a is less than 2")
else:
    print("a is greater than or equal to 2")

a is greater than or equal to 2

In [13]:
b = 5

# Can have multiple conditions with "and" and "or"
if a < 2 and b > 3:
    print("a is less than 2 and b is greater than 3")
else:
    print("nope :(")

nope :(

In [11]:
if a < 2 or b > 3:
    print("a is less than 2 and b is greater than 3")
    
# note: you don't always need an else statement

a is less than 2 and b is greater than 3

In [ ]:
# can specify specific 'elif' conditions

if a > 3:
    print("a is greater than 3")

## Loops

### For

Generally, you will loop over a list, dictionary, string or other types of data containers

In [56]:
# looping over a string
for s in "this is a sample string":
    print(s)

t
h
i
s

i
s

a

s
a
m
p
l
e

s
t
r
i
n
g

In [58]:
for item in list2:
    print(item)

6
harry
True
1.0

In [59]:
for i in range(len(range(10))):
    print(i)

0
1
2
3
4
5
6
7
8
9

### While

In [60]:
i = 0
while i < 10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
i = 0 
while True:
    print("I am running!")
    i += 1 # shorthand for "i = i + 1"

## Functions

Functions start with “def” with the following format

In [ ]:
def function1(paramter1,parameter2):
	answer = parameter1+paramter2
	return answer

In [64]:
# There are two ways to call functions:
# Function1()
type(5) # int

int

In [63]:
# Object.function1()
"python".upper() # “PYTHON”

'PYTHON'

In [65]:
# Each is used under different circumstances.

More examples of python built in functions: https://www.w3schools.com/python/python_ref_functions.asp

In [66]:
# Create a function which counts the number of occurances of a character in a string
def counter(string,character):
    total = 0
    for i in string:
        if i == character:
            total = total + 1
    return total

In [69]:
# we can easily call this function with the following paramters
counter(string="python is a type of snake",character="e")

2

In [68]:
# we can also call the functions without specifying which paramters we are declaring as long as our parammeters are in order
counter("python is a type of snake","e")

2

In [72]:
# we can reverse the parameters order as long as declare them explicitly 
counter(character="e",string="python is a type of snake")

2

In [73]:
# we can also set default values in functions
def counter_default(string,character="a"):
    total = 0
    for i in string:
        if i == character:
            total = total + 1
    return total

In [75]:
counter_default("python is a type of snake") # this time we didnt need to specify the character paramter

2

In [76]:
# what do you think happens if we do specify a character paramter?

In [ ]:
# Create a functions which finds the area of a rectangle or a square:
def square_area(l,w):
    return l*w

In [83]:
# Create a function which checks with number if even:
def is_even(number):
    if number % 2 == 0:
        return True
    else:
        return False

In [90]:
is_even(2)

True

## Exercises!

In [ ]:
# Write a function which calculates the area of a circle:



# Write a function which calculates the area of a rectangle:

In [113]:
# Write a function which checks if a number is odd:

In [ ]:
# Write a function which finds the factorial of a number:

https://coderbyte.com/editor/guest:First%20Factorial:Python3

In [110]:
# Solution

## Classes

In [130]:
# Classes and Subclasses

# great resource: https://www.youtube.com/watch?v=RSl87lqOXDE

import random # this is how we import non deault packages / libraries into our script

class human(object):
    def __init__(self,name,country,fav_food,age,gender):
        self.name = name
        self.country = country
        self.fav_food = fav_food
        self.age = age
        self.gender = gender
    
    def __str__(self):
        return "name: " + self.name + "\n" + "country: " + self.country
    
    def __add__(self,input):
        return self.age + input.age
    
    def fishing(self):
        return self.name + " caught " + str(random.randint(1,20)) + " fishes"

In [123]:
dev = human("dev","india","pizzzza",60,"male")
sean = human("sean","korea","goat soup",20,"male")

In [124]:
print(dev)

name: dev
country: india

In [125]:
print(sean)

name: sean
country: korea

In [128]:
# Subclass
class student(human):
    def __init__(self,name,country,fav_food,age,gender,school):
        super().__init__(name,country,fav_food,age,gender) # referencing the superclass, human's init function
        self.school = school

In [129]:
alberto = student("alberto","italy","lasagna",22,"male","columbia")
print(alberto)

name: alberto
country: italy

## Setting working directories

In [152]:
import os

print("current working directory is", os.getcwd())
os.listdir()

current working directory is /Users/devsharma/Dropbox/Projects/web_scraping/Workshop Tutorials

['~$Intro to Python.pptx',
 'Python Scraping.pdf',
 '.DS_Store',
 'Python Workshop Proposal.docx',
 'Intro to Python.pptx',
 'Live Workshop',
 'Beautiful Soup.ipynb',
 'titanic.csv',
 '.ipynb_checkpoints',
 'Intro to Python.ipynb',
 'Selenium.ipynb',
 'Python Scraping.pptx']

In [136]:
os.chdir("/Users/devsharma/Downloads") # changing the directory to downloads

In [137]:
os.listdir()

['~$ur_Plan_Assignment_Template v2.docx',
 'Reuters Test.py',
 '.DS_Store',
 '.localized',
 'RepairReplacementTreatment Agreement (NEFAR RRTA) (version 4) (3).pdf',
 'mouse_tracking_dev.csv',
 'KS_schedule.png',
 '.2a14e7845e9b86dcbd3056f184731d92f39ab833.parts',
 'Mayur_Bansal_Resume.pdf']

In [ ]:
os.chdir("/Users/devsharma/Dropbox/Projects/web_scraping/Workshop Tutorials") # changing my directory back to the root of this notebook

In [149]:
os.getcwd()

'/Users/devsharma/Dropbox/Projects/web_scraping/Workshop Tutorials'

## Pandas and Numpy

In [165]:
import numpy as np # adding "as" allows us to give an alias to the library we are importing
import pandas as pd

In [158]:
data = pd.read_csv("titanic.csv")

### Helpful pandas methods

In [159]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [160]:
data.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [161]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [162]:
data.shape

(891, 12)

In [167]:
data.groupby("Pclass").aggregate({"Age":np.mean})

              Age
Pclass
1       38.233441
2       29.877630
3       25.140620

In [168]:
data.Survived

0      0
1      1
2      1
3      1
4      0
5      0
6      0
7      0
8      1
9      1
10     1
11     1
12     0
13     0
14     0
15     1
16     0
17     1
18     0
19     1
20     0
21     1
22     1
23     1
24     0
25     1
26     0
27     0
28     1
29     0
      ..
861    0
862    1
863    0
864    0
865    1
866    1
867    0
868    0
869    1
870    0
871    1
872    0
873    0
874    1
875    1
876    0
877    0
878    0
879    1
880    1
881    0
882    0
883    0
884    0
885    0
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [169]:
data.Pclass.value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [174]:
# indexing
print(data.loc[0])
data.loc[0,"Pclass"]

PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                                 22
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: 0, dtype: object

3

In [176]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [203]:
feat_cols = ["Pclass","Age","Parch","Fare"]
label_col = "Survived"

model_data = data[feat_cols + [label_col]]

In [185]:
model_data.head()

   Pclass   Age  Parch     Fare  Survived
0       3  22.0      0   7.2500         0
1       1  38.0      0  71.2833         1
2       3  26.0      0   7.9250         1
3       1  35.0      0  53.1000         1
4       3  35.0      0   8.0500         0

In [188]:
model_data.dtypes
# all data types are numeric

Pclass        int64
Age         float64
Parch         int64
Fare        float64
Survived      int64
dtype: object

In [195]:
# check for na values
model_data.isna().any()

Pclass      False
Age          True
Parch       False
Fare        False
Survived    False
dtype: bool

In [199]:
# check how many values in Age are missing
model_data.Age.isna().sum()

177

In [200]:
model_data.shape

(891, 5)

In [209]:
model_data.dropna(inplace=True)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [210]:
model_data.shape

(714, 5)

In [211]:
from sklearn.model_selection import train_test_split # we use from when we don't wish to import specific parts of a library
X = model_data[feat_cols]
y = model_data[label_col]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [212]:
from sklearn.linear_model import LogisticRegression
logistic_reg = LogisticRegression(random_state=0)

In [213]:
model = logistic_reg.fit(X_train, y_train)

In [215]:
preds = model.predict(X_test)

In [217]:
from sklearn.metrics import classification_report, confusion_matrix # note how we can import multuple methods in the same import

print(classification_report(y_test,preds))

             precision    recall  f1-score   support

          0       0.69      0.91      0.78       137
          1       0.77      0.44      0.56        99

avg / total       0.73      0.71      0.69       236

In [219]:
print(confusion_matrix(y_test,preds)) 

# TP FP
# FN TN

[[124  13]
 [ 55  44]]

In [222]:
# Let's find the accuracy:
def accuracy(true,pred):
    return (true==pred).mean()

In [230]:
print("Our model's accuracy is", round(accuracy(y_test,preds)*100),"%")

Our model's accuracy is 71.0 %

**end**