# Intro to Python Workshop - Dev Sharma

## Applied Analytics Club October 2019

Python is a programming language.

- Foudner: Guido van Rossum
- Release Year: 1991
- There are two Main Versions: 2 and 3
- Latest Version: ```3.7.4```

Python 3 is the more popular versions and the one we will be using today. 

Python 2 is mostly used when dealing with legacy systems.

## Quick Jupyter Tips

```Hashtag``` is used to comment in Python

In [1]:
# this is a comment
this is not a comment
print("hello world")

```SHIFT + ENTER``` to execute a single cell



- ```Command``` mode is active when the cell is blue (click outside the cell to activate)
- ```Edit``` mode is active when the cell is green (click inside OR press ```enter``` on the cell while in command mode)

### Command Mode Shortcuts

- ```M``` to convert a cell to markdown (text)
- ```Y``` to convert a cell back to code 
- ```A``` adds a cell above
- ```B``` adds a cell below
- ```D + D``` deletes the highlighted cell(s)

note: for all of these shortcuts, you must click outside the cell block first, color --> blue

### Edit Mode Shortcuts

- ```SHIFT + TAB``` reveals the docstring of a function
- ```TAB``` Autocomples variable/function
- ```CMD/CTRL + /``` Turn line into comment

In [4]:
# turn the following lines into comments

variable1 = "I love <3 python"
variable2 = "do cool people use python?"

### Printing in Python and Jupyter

There is a slight difference in printing in the jupyter notebook interface and using a print command. If you execute a code cell, it will print the last variable in your cell. You can print other variables in your cell with the print command. 

Note: This is a jupyter feature. Other IDEs (i.e. coding platforms e.g. PyCharm) may behave differently.

In [5]:
variable1
variable2 # only this variable gets printed

'do cool people use python?'

In [6]:
# if we wanted to print both we could:
print(variable1)
variable2

I love <3 python

'do cool people use python?'

In [7]:
# or we could print them on the same line with:
print(variable1 ,variable2)

I love <3 python do cool people use python?

In [8]:
# we can add other objects to our output
print(variable1, "INSERTED STRING",variable2)

I love <3 python INSERTED STRING do cool people use python?

## Data Types

- Int e.g. ```2,3,4```
- Float e.g. ```2.0,3.4, 4.3```
- String e.g. ```“scraping ftw!”, ”John Doe”```
- Boolean ```True, False```
- Others (Complex, Unicode etc.)

In [9]:
var_int = 1
var_float = 1.0
var_string = "5"
var_bool = True

### Common Operations

In [10]:
print(1+3)

4

In [11]:
print(var_int-3)

-2

In [12]:
print(var_int*var_float) # result will be a float

1.0

In [13]:
print(var_int/var_float)

1.0

In [14]:
6/4

1.5

In [15]:
6%4 # Modulus operator (returns the (remainder*denominator) of division)

2

In [16]:
6//4 # Floor division (returns the quotient of division)

1

Converting data types

In [17]:
var_string

'5'

In [18]:
# convert string to int
int(var_string)

5

In [19]:
# convert ints to floats
float(var_int)

1.0

In [20]:
# check the type of the data
type(var_bool)

bool

In [21]:
type(var_string)

str

## Common Data Structures

### Lists: Type of data container which is used to store multiple data at the same time

- Denoted by []
- Mutable (Can be changed)
- Comparable to R’s vector

In [22]:
list1 = [0,1,2,3,4]

In [23]:
# Can contain items of varying data types
list2 = [6,'harry', True, 1.0]

In [24]:
# A list can be nested in another list
list3 = [1 , [98,109], 6, 7]

In [25]:
# Call the ”append” function to add an item to a list
list1.append(5)

#### Indexing

In [26]:
# Indexing starts with 0
list2[0] = 10

In [27]:
list2

[10, 'harry', True, 1.0]

In [28]:
list2[2]

True

In [29]:
# indexing multiple items
list2[0:2] # note: the last index is excluded

[10, 'harry']

In [30]:
# we can also index based on every nth item
list2[0:4:2] # lets extract every other item in the list

[10, True]

In [31]:
# lists can be added
print(list1 + list2)

[0, 1, 2, 3, 4, 5, 10, 'harry', True, 1.0]

### Tuples

- Denoted by ()
- Not mutable (can not be changed)
- Can contain multiple types of data

In [32]:
tuple1 = (1,2,3)

In [33]:
tuple1 = ('a',3)

### Dictionaries

- Collection of key-value pairs
- Very similar to JSON objects
- Mutable

In [34]:
dict1 = {'r':4,'w':9, 't':5}

In [35]:
dict1

{'r': 4, 'w': 9, 't': 5}

In [36]:
# Indexed with keys
dict1['r']

4

In [37]:
# Keys are unique. You cannot have multiple values for a single key
dict1['r'] = 5
dict1['w'] = 2000

In [38]:
dict1

{'r': 5, 'w': 2000, 't': 5}

In [39]:
# Values can be lists or other nested dictionaries
dict2 = {'a':{'c':'candy'}}

In [40]:
dict2['a']['c']

'candy'

In [41]:
# A dictionary can also be nested into a list
dict3 = [{3:4,5:6}, 6,7]

In [42]:
# You can also index a list with a number
dict3[1]

6

### Sets

- Can only contain unique items
- Cannot be indexed
- Are ordered, either numerically or alphabetically
- Can contain numbers or strings

In [43]:
set1 = set([1,2,3,4,1,1,1,1,1,1,1,1]) # only keeps unique items

In [44]:
set1

{1, 2, 3, 4}

In [45]:
set2 = set(["z","a","ds"])

In [46]:
set2

{'a', 'ds', 'z'}

## If Else Statements

### Tabs are very important in Python!

Checkout all python operators here: https://www.tutorialspoint.com/python/python_basic_operators.htm

In [47]:
a = 3

if a < 2:
    print("a is less than 2")
else:
    print("a is greater than or equal to 2")

a is greater than or equal to 2

In [48]:
b = 5

# Can have multiple conditions with "and" and "or"
if a < 2 and b > 3:
    print("a is less than 2 and b is greater than 3")
else:
    print("nope :(")

nope :(

In [49]:
if a < 2 or b > 3:
    print("a is less than 2 and b is greater than 3")
    
# note: you don't always need an else statement

a is less than 2 and b is greater than 3

In [50]:
# can specify specific 'elif' conditions
a = 3

if a > 3:
    print("a is greater than 3")
elif a < 3:
    print("a<3")
elif a == 3: ## == is the operator for checking if something is equal to something else
    print("a=3")

a=3

## Loops

### For

Generally, you will loop over a list, dictionary, string or other types of data containers

In [51]:
# looping over a string
for character in "this is a sample string":
    print(character)

t
h
i
s

i
s

a

s
a
m
p
l
e

s
t
r
i
n
g

In [52]:
list2

[10, 'harry', True, 1.0]

In [53]:
for item in list2:
    print(item)

10
harry
True
1.0

In [54]:
string = "this is a sample string"

In [55]:
for i in string:
    print(i)

t
h
i
s

i
s

a

s
a
m
p
l
e

s
t
r
i
n
g

In [56]:
for i in range(len(string)):
    print(string[i])

t
h
i
s

i
s

a

s
a
m
p
l
e

s
t
r
i
n
g

### While

In [57]:
i = 0
while i < 10: # while condition is true
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

In [58]:
i = 0 
while True: 
    print("I am running!")
    i += 1 # shorthand for "i = i + 1"
    if i > 10:
        break # special command to break loops

I am running!
I am running!
I am running!
I am running!
I am running!
I am running!
I am running!
I am running!
I am running!
I am running!
I am running!

## Functions

Functions start with “def” with the following format

In [59]:
# defining the function architecture 
def function1(parameter1,parameter2):
    answer = parameter1+parameter2
    return answer

In [60]:
function1(4,5)

9

In [61]:
# There are two ways to call functions:
# Each is used under different circumstances.
function1(4,5)
type(5) # int

int

In [62]:
# Object.function1()
"python".upper() # “PYTHON”

'PYTHON'

In [63]:
string = "python"

In [64]:
string

'python'

In [65]:
string.upper()

'PYTHON'

More examples of python built in functions: https://www.w3schools.com/python/python_ref_functions.asp

In [66]:
# Create a function which counts the number of occurances of a character in a string
def counter(string,character):
    total = 0
    for i in string:
        if i == character:
            total = total + 1
    return total

In [67]:
counter(string="python is better than cobras", character="t")

4

In [68]:
# we can easily call this function with the following paramters
counter(string="python is a type of snake",character="e")

2

In [69]:
# we can also call the functions without specifying which paramters we are declaring as long as our parammeters are in order
counter("python is a type of snake","e")

2

In [70]:
# we can reverse the parameters order as long as declare them explicitly 
counter(character="e",string="python is a type of snake")

2

In [71]:
# we can also set default values in functions
def counter_default(string,character="a"):
    total = 0
    for i in string:
        if i == character:
            total = total + 1
    return total

In [72]:
counter_default("python is a type of snake") # this time we didnt need to specify the character paramter

2

In [73]:
# what do you think happens if we do specify a character paramter?
counter_default("python is a type of snake","e") # this time we didnt need to specify the character paramter

2

In [74]:
# Create a functions which finds the area of a rectangle or a square:
def square_area(l):
    return l**2

In [75]:
square_area(3)

9

In [76]:
# Create a function which checks with number if even:
def is_even(number):
    if number % 2 == 0:
        return True
    else:
        return False

In [77]:
is_even(100)

True

## Exercises!

In [78]:
# square of a circle
def square_area(l):
    return l**2

In [79]:
# Write a function which calculates the area of a circle:
def circle_area(r):
    return 3.14*(r**2)


# Write a function which calculates the area of a rectangle:

In [88]:
def is_odd(number):
    if number % 2 != 0:
        return True
    else:
        return False

In [89]:
circle_area(4)

50.24

In [91]:
# applying function in loop
for i in [1,2,3,4]:
    print(is_odd(i))

True
False
True
False

### Write a function which finds the factorial of a number:
- e.g. 3 > 3 * 2 * 1
- e.g.  4 > 4 * 3 * 2 * 1

In [92]:
# function by workshop participant 
def is_factorial(x):
    total = 1
    while x > 1:
        total = total*x
        print("total for this iternation is",total)
        x=x-1
    return total

In [93]:
is_factorial(4)

total for this iternation is 4
total for this iternation is 12
total for this iternation is 24

24

https://coderbyte.com/editor/guest:First%20Factorial:Python3

In [94]:
# Solution

def FirstFactorial(num): 
    if num == 1:
        return num
    else:
        return num * FirstFactorial(num-1)

## Classes

In [95]:
# Classes and Subclasses

# great resource: https://www.youtube.com/watch?v=RSl87lqOXDE

import random # this is how we import non deault packages / libraries into our script

class human(object):
    def __init__(self,name,country,fav_food,age,gender):
        self.name = name
        self.country = country
        self.fav_food = fav_food
        self.age = age
        self.gender = gender
    
    def __str__(self):
        return "name: " + self.name + "\n" + "country: " + self.country
    
    def __add__(self,input):
        return self.age + input.age
    
    def fishing(self):
        return self.name + " caught " + str(random.randint(1,20)) + " fishes"

In [96]:
dev = human("dev","india","pizzzza",60,"male")
sean = human("sean","korea","goat soup",20,"male")

In [97]:
print(dev)

name: dev
country: india

In [98]:
print(sean)

name: sean
country: korea

In [99]:
# Subclass
class student(human):
    def __init__(self,name,country,fav_food,age,gender,school):
        super().__init__(name,country,fav_food,age,gender) # referencing the superclass, human's init function
        self.school = school

In [100]:
alberto = student("alberto","italy","lasagna",22,"male","columbia")
print(alberto)

name: alberto
country: italy

## Setting working directories

In [101]:
import os

print("current working directory is", os.getcwd())
# os.listdir()

current working directory is /Users/devsharma/Dropbox/Projects/workshops/python_intro_workshop

In [102]:
os.chdir("/Users/devsharma/Downloads") # changing the directory to downloads

In [103]:
print("current working directory is", os.getcwd())

current working directory is /Users/devsharma/Downloads

In [104]:
os.listdir()

['~$ur_Plan_Assignment_Template v2.docx',
 '~$epairs.docx',
 '.DS_Store',
 '.localized',
 'Untitled.ipynb',
 'KS_schedule.png',
 'Inspection Paperwork',
 '.2a14e7845e9b86dcbd3056f184731d92f39ab833.parts',
 'python_intro_workshop-master',
 'python_intro_workshop-master.zip',
 '~$Assignment 2 data set.xlsx',
 '.ipynb_checkpoints',
 'Your_Plan_Assignment_Template v2.docx']

In [105]:
os.chdir("/Users/devsharma/Dropbox/Projects/web_scraping/Workshop Tutorials") # changing my directory back to the root of this notebook

FileNotFoundError: [Errno 2] No such file or directory: '/Users/devsharma/Dropbox/Projects/web_scraping/Workshop Tutorials'

In [106]:
os.chdir("/Users/devsharma/Downloads/python_intro_workshop-master")

In [107]:
os.getcwd()

'/Users/devsharma/Downloads/python_intro_workshop-master'

## Pandas and Numpy

In [108]:
import numpy as np # adding "as" allows us to give an alias to the library we are importing
import pandas as pd

In [109]:
data = pd.read_csv("titanic.csv")

### Helpful pandas methods

In [110]:
data.shape

(891, 12)

In [111]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [112]:
data.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [113]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [114]:
data.shape

(891, 12)

In [115]:
# What is the average Age and Fare for each Pclass
data.groupby("Pclass").aggregate({"Age":np.mean, "Fare":np.mean})

              Age       Fare
Pclass
1       38.233441  84.154687
2       29.877630  20.662183
3       25.140620  13.675550

In [116]:
type(data.Age)

pandas.core.series.Series

In [117]:
data.Survived

0      0
1      1
2      1
3      1
4      0
5      0
6      0
7      0
8      1
9      1
10     1
11     1
12     0
13     0
14     0
15     1
16     0
17     1
18     0
19     1
20     0
21     1
22     1
23     1
24     0
25     1
26     0
27     0
28     1
29     0
      ..
861    0
862    1
863    0
864    0
865    1
866    1
867    0
868    0
869    1
870    0
871    1
872    0
873    0
874    1
875    1
876    0
877    0
878    0
879    1
880    1
881    0
882    0
883    0
884    0
885    0
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [118]:
data.Pclass.value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [119]:
# indexing
print(data.loc[0])
data.loc[0,"Pclass"]

PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                                 22
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: 0, dtype: object

3

In [120]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [121]:
feat_cols = ["Pclass","Age","Parch","Fare"]
label_col = "Survived"

model_data = data[feat_cols + [label_col]]

In [122]:
model_data.head()

   Pclass   Age  Parch     Fare  Survived
0       3  22.0      0   7.2500         0
1       1  38.0      0  71.2833         1
2       3  26.0      0   7.9250         1
3       1  35.0      0  53.1000         1
4       3  35.0      0   8.0500         0

In [123]:
model_data.dtypes
# all data types are numeric

Pclass        int64
Age         float64
Parch         int64
Fare        float64
Survived      int64
dtype: object

In [124]:
# check for na values
model_data.isna().any()

Pclass      False
Age          True
Parch       False
Fare        False
Survived    False
dtype: bool

In [125]:
# check how many values in Age are missing
model_data.Age.isna().sum()

177

In [126]:
model_data.shape

(891, 5)

In [127]:
# dropping na's
model_data.dropna(inplace=True)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [128]:
model_data.shape # 177 na value rows have been removed now

(714, 5)

In [129]:
# Splitting our data

from sklearn.model_selection import train_test_split # we use from when we don't wish to import specific parts of a library
X = model_data[feat_cols]
y = model_data[label_col]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [130]:
# initiating our model

from sklearn.linear_model import LogisticRegression
logistic_reg = LogisticRegression(random_state=0)

In [131]:
# fitting the training data

model = logistic_reg.fit(X_train, y_train)

In [132]:
preds = model.predict(X_test)

In [133]:
from sklearn.metrics import classification_report, confusion_matrix # note how we can import multuple methods in the same import

print(classification_report(y_test,preds))

             precision    recall  f1-score   support

          0       0.69      0.91      0.78       137
          1       0.77      0.44      0.56        99

avg / total       0.73      0.71      0.69       236

In [134]:
print(confusion_matrix(y_test,preds)) 

# TP FP
# FN TN

[[124  13]
 [ 55  44]]

In [135]:
# Let's find the accuracy:
def accuracy(true,pred):
    return (true==pred).mean()

In [136]:
print("Our model's accuracy is", round(accuracy(y_test,preds)*100),"%")

Our model's accuracy is 71.0 %

**end**